@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "reset.scss";
@import "variables.scss";


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
}

header{
  position: sticky;
  top: 0;
  z-index: 100;
}

.main__layout{
    display: grid;
    grid-auto-flow: row;

}

.container {
    max-width: var(--breakpoint-xl);
    padding-left: var(--container-padding-xl-side);
    padding-right: var(--container-padding-xl-side);
    margin-left:  auto;
    margin-right:  auto;
  
    @media (max-width: 992px) {
      max-width: var(--breakpoint-lg);
      padding-left: var(--container-padding-lg-side);
      padding-right: var(--container-padding-lg-side);
    }
  
    @media (max-width: 768px) {
      max-width: var(--breakpoint-md);
      padding-left: var(--container-padding-md-side);
      padding-right: var(--container-padding-md-side);
    }
  
    @media (max-width: 376px) {
      max-width: var(--breakpoint-xs);
      padding-left: var(--container-padding-xs-side);
      padding-right: var(--container-padding-xs-side);
    }
  }


.main__swiper__wrapper{
  overflow: hidden;
  opacity: 1;
}


.swiper.youtube_loading{
  .swiper-wrapper {
    padding: 150px 0 250px 0 !important;
  }
}


.swiper.youtube{

  .swiper-slide{
    // font-size: 0;
    transition: opacity 0.5s ease, transform 0.5s ease !important;
  }
  
  .swiper-slide-active{
    transform: translateY(0) !important;
    // box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.40);
    z-index: 2;
  }
  
  .swiper-slide-prev,
  .swiper-slide-duplicate-prev{
    filter: blur(5px);
    transform: translateY(20%)  scale(0.8)!important;
    // pointer-events: none;
    z-index: 1;

    @media (max-width: 992px) {
      transform: translateY(10%)  scale(0.7)!important;
    }
  
  }
  .swiper-slide-next,
  .swiper-slide-duplicate-next{
    filter: blur(5px);
    transform: translateY(-20%) scale(0.8) !important;
    // pointer-events: none;
    z-index: 1;

    @media (max-width: 992px) {
      transform: translateY(-10%)  scale(0.7)!important;
    }
  }
  
  .swiper-slide-before-prev
  {
    transform: translateY(100%) !important;
  }
  .swiper-slide-after-next{
    transform: translateY(-100%) !important;
  }
  
  .swiper-wrapper {
    padding: 150px 0 250px 0 !important;
    margin-left: 50px !important;
    
    @media (max-width: 1200px) {
      margin-left: 0 !important;
    }

    @media (max-width: 376px) {
      margin-left: -50px !important;
    }
  }

  .swiper-scrollbar.swiper-scrollbar-horizontal{
    opacity: 1 !important;
    top: 81.7% !important;
    left: 40% !important;
    width: 30% !important;
    height: 6px !important;

    @media (max-width: 992px) {
      top: 77.2% !important;
      left: 27.5% !important;
      width: 46% !important;
    }
  }
  .swiper-button-next{
    top: 81.2% !important;
    left: 72.5% !important;
    margin: 0 !important;
    width: 20px !important;
    height: 17px !important;

    @media (max-width: 992px) {
      top: 76.6% !important;
      left: 75% !important;
    }
  
    &::after{
      content: "" !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 17px;
      background: url('./../../public/next-icon.svg');
      background-size: cover;
      z-index: 50; 
    }
  }
  
  .swiper-button-prev{
    display: none !important;
  }

  .swiper-pagination{
    position: absolute !important;
    top: 80% !important;
    left: -10% !important;
    z-index: 2 !important;


    @media (max-width: 992px) {
      top: 75% !important;
      left: -22.5% !important;
    }
  }
  
  .swiper-pagination-fraction {
    color: transparent !important;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .swiper-pagination-current{
    color: #037A8E !important;
  }
}

.swiper.cards{

  @media (max-width: 992px) {
    padding-left: 10%;
  }
  
  .swiper-button-next{
    display: none;
  }

  .swiper-button-prev{
    width: 100px;
    height: 100px;
    left: 70% !important;
    top: 210px !important;

    &::after{
      content: "" !important;
    }

    @media (max-width: 992px) {
      cursor: auto;
    }

    @media (max-width: 768px) {
      display: none;
    }

  }

  .next_button{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--color-white);
    background-size: cover;
    right: -50px;
    bottom: 30px;
    display: none;


    &::after{
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 40px;
      left: 20px;
      background: url('./../../public/next-icon.svg');
    }

  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .swiper-slide.swiper-slide-visible.swiper-slide-active{
    .next_button{
      display: block;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: -30px !important;
}

}

.swiper.parthers{
  padding: 0 20px !important;

  .swiper-wrapper {
    padding: 50px 0 !important;
  }
}

.admin__exit__wrapper{
  margin: 10px 0px 20px 0px;
  display: flex;
  justify-content: space-between;

  .exit {
    padding: 20px 40px;
    background: red;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
  }
}

.admin__change{
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 100;

  button{
    width: 100%;
  }

  span{
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: 500;
  }
}

.burger__content {
  display: grid;
  grid-auto-flow: row;
  row-gap: 100px;
}

.burger {
  display: none;
  
  @media (max-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.burger-body {
  position: fixed;
  min-width: 80%;
  height: 100%;
  background: #fff;
  right: 0;
  top: 0;
  padding: 50px;
  box-shadow: 0px 5px 15px rgba(30, 30, 30, 0.5);
  transform: translateX(150%);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 101;
}
.burger-body.active {
  transform: translateX(0);
  transition: all 0.5s;
}
.burger-wrapper {
  width: 100%;
}
.burger-hide-btn {
  position: absolute;
  top: -35px;
  right: -25px;
  cursor: pointer;
}


