:root{
    /* colors */
    --color-white: #fff;
    --color-black: black;
    --color-blue: #0096EA;
    --color-yellow: #FFCD6C;
    --language-active: #67D2FB;

        /* Breakpoint constants */
    --breakpoint-xl: 1344px; /* Extra Large */
    --breakpoint-lg: 992px; /* Large */
    --breakpoint-md: 768px; /* Medium */
    --breakpoint-xs: 376px; /* Extra Small */

    /* Контейнерные отступы */
    /* Контейнерные отступы для Extra Large */
    --container-padding-xl-all: 15px;
    --container-padding-xl-side: 50px;
    --container-padding-xl-top: 80px;

    /* Контейнерные отступы для Large */
    --container-padding-lg-all: 12px;
    --container-padding-lg-side: 40px;
    --container-padding-lg-top: 70px;

    /* Контейнерные отступы для Medium */
    --container-padding-md-all: 10px;
    --container-padding-md-side: 25px;
    --container-padding-md-top: 60px;

    /* Контейнерные отступы для Extra Small */
    --container-padding-xs-all: 5px;
    --container-padding-xs-side: 10px;
    --container-padding-xs-top: 40px;

    --header-height-xl: 70px;
    --header-height-lg: 70px;
    --header-height-md: 72px;
    --header-height-xs: 56px;



     /* Extra Large (XL) */
  --font-size-title-main-xl: 44px;
  --font-size-subtitle-main-xl: 36px;
  --font-size-title-secondary-xl: 18px;
  --font-size-option-item-xl: 20px;
  --font-size-text-main-xl: 24px;
  --font-size-text-secondary-xl: 16px;
//   --row-gap-title-xl: 30px;
//   --row-gap-content-xl: 50px;
//   --font-size-option-item-xl: 16px;
//   --column-gap-option-item-xl: 20px;
//   --font-size-subtitle-secondary-xl: 24px;
//   --font-size-text-primary-xl: 16px;
//   --font-size-text-accent-xl: 18px;

//   --font-size-xl-text-secondary: 14px;
//   --font-size-xl-button-text: 14px;

//   --margin-section-xl: 100px;

  /* Large (LG) */
  --font-size-title-main-lg: 36px;
  --font-size-subtitle-main-lg: 28px;
  --font-size-title-secondary-xl: 16px;
  --font-size-option-item-xl: 14px;
  --font-size-text-main-xl: 20px;
  --font-size-text-secondary-xl: 14px;
//   --row-gap-title-lg: 25px;
//   --row-gap-content-lg: 45px;
//   --font-size-option-item-lg: 15px;
//   --column-gap-option-item-lg: 20px;
//   --font-size-title-secondary-lg: 30px;
//   --font-size-subtitle-secondary-lg: 22px;
//   --font-size-text-secondary-lg: 13px;
//   --font-size-text-accent-lg: 17px;

//   --font-size-lg-text-primary: 15px;
//   --font-size-lg-button-text: 13px;
//   --margin-section-lg: 80px;

  /* Medium (MD) */
  --font-size-title-main-md: 24px;
  --font-size-subtitle-main-md: 20px;
  --font-size-title-secondary-xl: 16px;
  --font-size-option-item-xl: 16px;
  --font-size-text-main-xl: 14px;
  // --font-size-text-secondary-xl: 14px;
//   --row-gap-title-md: 20px;
//   --row-gap-content-md: 35px;
//   --font-size-option-item-md: 14px;
//   --column-gap-option-item-md: 15px;
//   --font-size-title-secondary-md: 28px;
//   --font-size-subtitle-secondary-md: 20px;
//   --font-size-text-secondary-md: 12px;
//   --font-size-text-accent-md: 16px;

//   --font-size-md-text-primary: 14px;
//   --font-size-md-button-text: 12px;
//   --margin-section-md: 60px;

  /* Extra Small (XS) */
  --font-size-title-main-xs: 24px;
  --font-size-subtitle-main-xs: 20px;
  --font-size-title-secondary-xl: 16px;
//   --row-gap-title-xs: 15px;
//   --row-gap-content-xs: 25px;
//   --font-size-option-item-xs: 12px;
//   --column-gap-option-item-xs: 10px;
//   --font-size-title-secondary-xs: 20px;
//   --font-size-subtitle-secondary-xs: 14px;
//   --font-size-text-secondary-xs: 10px;
//   --font-size-text-accent-xs: 14px;

//   --font-size-xs-text-primary: 12px;
//   --font-size-xs-button-text: 10px;
//   --margin-section-xs: 40px;
}