.wrapper{

    .logo_image_wrapper{
      display: grid;
      align-items: center;

      .logo_image{
        width: 125px;
        height: 30px;
      }
    }

    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: space-between;
    background: var(--color-blue);
    padding: 0 var(--container-padding-xl-side);
    height: var(--header-height-xl);
    
    @media (max-width: 992px) {
        padding: 0 var(--container-padding-lg-side);
        height: var(--header-height-lg);
    }
    
    @media (max-width: 768px) {
        padding: 0 var(--container-padding-md-side);
        height: var(--header-height-md);
    }
    
    
    @media (max-width: 375px) {
        padding: 0 var(--container-padding-xs-side);
        height: var(--header-height-xs);
      }

}

.navigation{

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 60px;
    color: var(--color-white);

    @media (max-width: 768px) {
        display: none;
    }

    .tab{
        cursor: pointer;
    }

    p{

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        white-space: nowrap;

    }
}

.language{
    display: grid;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    position: relative;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &.header{
        @media (max-width: 768px) {
            display: none;
        }
    }



    .column{
        display: grid;
        grid-auto-flow: column;
        column-gap: 20px;

        @media (max-width: 992px) {
            display: none;
        }

        &.burgers{
            display: grid;
          }

        .lang{
            display: grid;
            align-items: center;
            justify-content: center;
            padding: 5px;
            cursor: pointer;
            height: 30px;
            width: 30px;

            &.active{
                border-radius: 50%;
                border: 0.5px solid var(--color-white);
                background: var(--language-active);
                box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
            }

            &.burger{
                border-radius: 50%;
                background: var(--color-white);
                box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
                color: var(--color-black);
            }
        }
    }

    .row {
        display: block;
        
        @media (min-width: 992px) {
            display: none;
        }

        .lang{
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            column-gap: 10px;
            border-radius: 10px;
            height: 30px;
            // width: 55px;
            padding: 5px 10px;
            border: 0.5px solid var(--color-white);
            background: var(--language-active);
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }

        .menu {
          margin-top: 5px;
          padding: 10px;
          display: block;
          position: absolute;
          width: 55px;
          left: 50%;
          transform: translateX(-50%);
          background-color: var(--color-white);
          z-index: 1;
          border-radius: 10px;
          overflow: hidden;
          color: var(--color-black);
      
          .menu__item {
            padding: 5px 8px;
            cursor: pointer;
            display: grid;
            grid-auto-flow: column;
            gap: 5px;
            align-items: center;

            &:hover {
              border-radius: 5px;
              color: #0096EA;
            }
          }
        }
      }
      
}

.burger__navigation{
    display: grid;
    grid-auto-flow: row;
    row-gap: 65px;
    justify-items: center;
}



.burger__content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 100px;
  }
  
  .burger {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  
  .burger-body {
    position: fixed;
    min-width: 80%;
    height: 100%;
    background: #fff;
    right: 0;
    top: 0;
    padding: 50px;
    box-shadow: 0px 5px 15px rgba(30, 30, 30, 0.5);
    transform: translateX(150%);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 101;
  }
  .burger-body.active {
    transform: translateX(0);
    transition: all 0.5s;
  }
  .burger-wrapper {
    width: 100%;
  }
  .burger-hide-btn {
    position: absolute;
    top: -35px;
    right: -25px;
    cursor: pointer;
  }