@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", "Helvetica";
}
html,
body {
  height: 100%;
}
header {
  padding: 2% 0;
  position: sticky;
  top: 0;
  z-index: 200;
}
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}
main {
  flex: 1;
}
.my-container {
  max-width: 100%;
  padding: 0px 30px;
}

.my-link {
  color: rgb(30, 30, 30);
  text-decoration: none;
  margin: 5px;
}
.languages {
  text-decoration: none;
  color: rgb(70, 59, 144);
}
.active {
  color: rgb(68, 180, 255);
}
/* .logo-header {
  width: 50px;
  height: 50px;
} */
/* .content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
} */
header {
  -webkit-background: #ffffff;
  background: #ffffff;
}
.img-block {
  max-width: 200px;
}
footer {
  font-size: 14px;
}
.contact-us {
  color: #303030;
  font-size: 14px;
}
.contact-us-btn {
  border-radius: 25px;
  background: #463b90;
  color: white;
  padding: 10px 25px;
  font-weight: 500;
  border: #463b90;
  white-space: nowrap;
  margin-left: 30px;
}
.contact-wrapper {
  position: absolute;
  top: 110%;
  right: 0;
  max-width: 250px;
}
.contact-block {
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(30, 30, 30, 0.3);
  padding: 20px;
  position: relative;
  background: #fff;
  z-index: 99;
}
.contact-title {
  font-size: 16px;
  margin-bottom: 20px;
}
.whywe__block {
  margin: 15% 0;
}
.contacts-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contacts-media {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.call-us-btn {
  border-radius: 20px;
  background: #463b90;
  padding: 10px 20px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
}
.send-message-btn {
  border-radius: 20px;
  background: #463b90;
  padding: 10px 20px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  display: block;
  font-weight: 600;
  color: #ffffff;
  border: none;
}
.email-btn {
  border-radius: 20px;
  padding: 8px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  border: 0.5px solid rgba(70, 59, 144, 0.5);
  background: #ffffff;
  margin-bottom: 15px;
}
.form-input {
  width: 100%;
  border-radius: 10px;
  border: 0.5px solid rgb(70, 59, 144);
  padding: 5px;
  display: block;
  margin-top: 5px;
  font-size: 14px;
}
.number-input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* For other browsers */
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Remove default margin */
}
.form-title {
  color: #303030;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 10px;
  width: 100%;
}
.home_email {
}
.home_title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5%;
}
.home_input {
  width: 100%;
}
.lang__block {
  border-radius: 30px;
  border: 0.5px solid rgba(70, 59, 144, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 9px 15px;
  color: #463b90;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  cursor: pointer;
  position: relative;
}
.lang {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 7px rgba(60, 60, 60, 0.3);
  padding: 10px;
  background: #fff;
  z-index: 100;
}
.lang__item {
  font-weight: 700;
  padding: 5px 0;
  cursor: pointer;
}
.burger-language {
  align-self: start;
  margin-top: -10px;
}
.burger-lang__block {
}
.burger-lang {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.burger-lang__item {
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 12px;
  margin: 0 5px 0 5px;
}
.burger {
  display: flex;
  align-items: center;
}
.burger-btn {
  width: 20px;
  height: 15px;
  margin-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  -webkit-justify-content: end;
  cursor: pointer;
}
.burger-btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 25px;
  background: #303030;
  height: 2px;
  border-radius: 5px;
}
.burger-btn span {
  width: 30px;
  background: #303030;
  height: 2px;
  border-radius: 5px;
}
.burger-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 25px;
  background: #303030;
  height: 2px;
  border-radius: 5px;
}
.burger-body {
  position: fixed;
  min-width: 40%;
  height: 100%;
  background: #fff;
  right: 0;
  top: 0;
  padding: 50px;
  box-shadow: 0px 5px 15px rgba(30, 30, 30, 0.5);
  transform: translateX(150%);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 101;
}
.burger-body.active {
  transform: translateX(0);
  transition: all 0.5s;
}
.burger-wrapper {
  width: 100%;
}
.burger-hide-btn {
  position: absolute;
  top: -30px;
  right: -5px;
  cursor: pointer;
  opacity: 0.4;
}

/* PAGE WHY VENKON */
.why-wrapper {
  margin-bottom: 70px;
}

/* SWIPER */
.swiper-wrapper {
  align-items: center;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  font-size: 1.5em !important;
  padding: 20% 40% 20% 50%;
  margin-left: 80%;
  margin-right: -40%;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
  font-size: 1.5em !important;
  padding: 20% 50% 20% 40%;
  margin-right: 80%;
  margin-left: -40%;
}

/* MEDIA */
@media (max-width: 1199px) {
  .my-container {
    padding: 0px 30px;
  }
  .why-wrapper {
    margin-bottom: 70px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1.5em !important;
    padding: 20% 40% 20% 50%;
    margin-left: 80%;
    margin-right: -40%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1.5em !important;
    padding: 20% 50% 20% 40%;
    margin-right: 80%;
    margin-left: -40%;
  }
}
@media (max-width: 991px) {
  .my-container {
    padding: 0px 20px;
  }
  .call-us-btn {
    margin-bottom: 10px;
  }
  .email-btn {
    margin-bottom: 10px;
  }
  .why-wrapper {
    margin-bottom: 60px;
  }
}
@media (min-width: 769px) {
  .burger-desktop {
    display: none;
  }
  .whywe__block {
    display: none;
  }
}
@media (max-width: 768px) {
  .lang-desktop {
    display: none;
  }
  /* .contacts-media {
    justify-content: space-between;
    -webkit-justify-content: space-between; 
  } */
  .why-wrapper {
    margin-bottom: 50px;
  }
  .whywe-desktop {
    display: none;
  }
  .my-container {
    padding: 0px 15px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1em !important;
    padding: 15% 30% 15% 35%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1em !important;
    padding: 15% 35% 15% 30%;
  }
}
@media (max-width: 576px) {
  .burger-body {
    padding: 50px 30px;
  }
  .burger-language {
    margin-bottom: 0px;
  }
  .burger-lang__item {
    padding: 7px 15px;
    border-radius: 15px;
    font-size: 10px;
  }
  .contact-wrapper {
    max-width: 200px;
  }
  .contact-block {
    padding: 15px;
    font-size: 12px;
  }
  .contact-us-btn {
    padding: 10px 15px;
    font-size: 12px;
  }
  .contact-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .contacts-block {
  }
  .call-us-btn {
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 12px;
  }
  footer {
    font-size: 10px;
  }
  .my-container {
    padding: 0px 8px;
  }
  .img-block {
    max-width: 120px;
  }
  .email {
    font-size: 12px;
  }
  .email-btn {
    border-radius: 20px;
    padding: 4px 15px;
    font-size: 12px;
  }
  .home_title {
    font-size: 1.7rem;
  }
  .why-wrapper {
    margin-bottom: 40px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.8em !important;
    padding: 10% 20% 10% 25%;
    margin-left: 80%;
    margin-right: -40%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.8em !important;
    padding: 10% 25% 10% 20%;
    margin-right: 80%;
    margin-left: -40%;
  }
}
@media (max-width: 367px) {
  .contact-wrapper {
    top: 110%;
    right: -20%;
  }
  .burger-body {
    width: 70%;
    padding: 50px 20px;
  }
  .send-message-btn {
    padding: 7px;
    font-size: 10px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.5em !important;
    padding: 8% 14% 8% 16%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.5em !important;
    padding: 8% 16% 8% 14%;
  }
}

/* LOADER */
.mul7 {
  height: 70px;
  width: 70px;
  position: relative;
}

.mul7circ {
  width: 70px;
  height: 70px;
  position: absolute;
}

.mul7circ:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: multiple7Animation 1.2s infinite ease-in-out both;
  animation: multiple7Animation 1.2s infinite ease-in-out both;
}

/* Circle Colors */
.m7c12:before {
  background-color: #6ee3f5;
}
.m7c1:before,
.m7c11:before {
  background-color: #72cef8;
}
.m7c2:before,
.m7c10:before {
  background-color: #327feb;
}
.m7c3:before,
.m7c9:before {
  background-color: #353bf2;
}
.m7c4:before,
.m7c8:before {
  background-color: #694bec;
}
.m7c5:before,
.m7c7:before {
  background-color: #8336ef;
}
.m7c6:before {
  background-color: #5a2bc0;
}

/* Rotate circles */
.m7c1 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.m7c2 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.m7c3 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.m7c4 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.m7c5 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}
.m7c6 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.m7c7 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}
.m7c8 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}
.m7c9 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.m7c10 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}
.m7c11 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

/* Delay the Animation */
.m7c2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.m7c3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.m7c4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.m7c5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.m7c6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.m7c7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.m7c8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.m7c9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.m7c10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.m7c11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.m7c12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

/* Circles Animation */
@-webkit-keyframes multiple7Animation {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes multiple7Animation {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
