.wrapper{
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
  position: relative;
  margin-bottom: var(--margin-section-xl);
  @media (max-width: 992px) {
    margin-bottom: var(--margin-section-lg);
  }
  @media (max-width: 768px) {
    margin-bottom: var(--margin-section-md);
  }
  @media (max-width: 376px) {
    margin-bottom: var(--margin-section-xs);
  }

  &::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 195%;
    background: url('./../../../public/background-3.svg');
    background-size: cover;
    z-index: -1; 
  }

  .title{
    text-align: center;
    color: var(--color-yellow);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: var(--font-size-subtitle-main-xl);

    @media (max-width: 992px) {
      font-size: var(--font-size-subtitle-main-lg);
    }

    @media (max-width: 768px) {
      font-size: var(--font-size-subtitle-main-md);
    }

    @media (max-width: 376px) {
      font-size: var(--font-size-subtitle-main-xs);
    }
  }

  .form__wrapper{
    border-radius: 30px;
    background: var(--color-white);
    box-shadow: 0px 2px 21px 0px rgba(3, 122, 142, 0.21);
    display: grid;
    grid-auto-flow: row;
    row-gap: 15px;
    padding: 25px 30px;


    .files__wrapper{
      display: grid;
      grid-auto-flow: row;
      justify-items: center;
      border-radius: 8px;
      border: 1px dashed #52A2EB;
      padding: 45px 10px 10px 10px;

      .files__wrapper__input{
        margin-top: 20px;
        display: grid;
        grid-auto-flow: row;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;

        .files__wrapper__text{
          display: grid;
          grid-auto-flow: row;
          row-gap: 15px;

          .share{
            display: grid;
            grid-auto-flow: column;
            justify-content: center;
            column-gap: 5px;

            @media (max-width: 768px) {
              grid-auto-flow: row;
              
            }
          }

          p{
            color: var(--color-black);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            &.press{
              color: var(--color-blue);
              text-decoration-line: underline;
            }
          }

          span{
            color: rgba(0, 0, 0, 0.55);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

        }
      }


      .files{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 0;
        visibility: collapse;
      }
    }

    .form__title{
      display: grid;
      grid-auto-flow: row;
      row-gap: 10px;

      .text{
        color: rgba(0, 0, 0, 0.55);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .form__input {
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #8DD2F9;
        color: var(--color-black);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 576px) {
          font-size: 16px;
          padding: 10px;
        }

      }

    }

    .send{
      padding: 18px 0;
      width: 100%;
      color: var(--color-black);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-radius: 12px;
      background: var(--color-yellow);
      transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
      &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }

      &:active {
        transform: scale(0.9);
      }
    }

  }

}


.add_files_wrapper {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  align-content: space-between;
  transition:
    border-color 0.3s,
    background-color 0.3s;

  .empty {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    width: 100%;
    position: relative;
  }

  .top {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding: 10px;
    align-items: center;
    justify-content: start;
    border-radius: 12px;
    border: 1px dashed var(--Containers);

    .top__column {
      display: grid;
      grid-auto-flow: column;
      column-gap: 10px;
      align-items: center;
      justify-content: center;

      .logo {
        display: grid;
        justify-content: center;
        align-items: center;
        svg {
          width: 15px;
          height: 15px;
        }
      }

      .text {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
        align-content: center;
        p {
          color: #4d4d4d;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          // line-height: 0.75;

          span {
            font-weight: 600;
          }
        }
      }
    }
  }
  .bottom {
    display: grid;
    grid-auto-flow: row;
    row-gap: 15px;
    align-content: center;
    justify-content: center;

    .logo {
      display: grid;
      justify-content: center;
      align-items: center;
      svg {
        width: 38px;
        height: 38px;
      }
    }

    .text {
      display: grid;
      grid-auto-flow: row;
      row-gap: 10px;
      text-align: center;
      justify-content: center;

      p {
        color: #4d4d4d;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 0.75;
      }

      span {
        color: #4d4d4d;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 0.75;
      }
    }

    .button {
      display: grid;
      grid-auto-flow: row;
      justify-content: center;
      padding: 15px;
      text-align: center;
      border-radius: 8px;
      background: var(--Gradients-Gradient-1);

      span {
        color: var(--Personal-colors-White);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 0.75;
      }

      input {
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        visibility: collapse;
      }
    }
  }
}

.drag {
  border-color: rgb(62, 201, 80);
  background-color: #e6ffe3;
}

.items {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  width: 100%;
  padding: 0 10px 40px 10px;
  cursor: auto;
  z-index: 5;

  .item {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;

    .item__left {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      column-gap: 10px;

      svg {
        width: 18px;
        height: auto;
      }

      .item__text {
        display: grid;
        grid-auto-flow: row;
        text-align: start;
        row-gap: 5px;

        p {
          color: #4d4d4d;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden; 
          text-overflow: ellipsis; 
        }
        span {
          color: #a3a0a0;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 0.75;
        }
      }
    }

    .item__right {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      column-gap: 25px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}
