.wrapper{
  // display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 200px;
  margin-bottom: 250px;
  position: relative;
  padding: 0;

  &::before{
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 965px;
    background: url('./../../../public/background-2.svg');
    background-size: cover;
    z-index: -1; 
  }
}

// .swipper__wrapper {
//   display: grid;
//   grid-auto-flow: column;
// }
