.wrapper{
  display: grid;
  grid-auto-flow: row;
  row-gap: 80px;
  margin-bottom: 150px;

  .top{
    display: grid;
    align-items: center;
    grid-template: 1fr/ 1fr 1fr;
    column-gap: 20px;
    padding: 0 80px;

    .title{
      text-align: left;
      color: var(--color-yellow);
      font-size: 44px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      position: relative;
      padding-right: 30px;

      &::before{
        content: "";
        position: absolute;
        top: -160%;
        left: -25%;
        width: 130%;
        height: 400%;
        background: url('./../../../public/background-4.svg');
        background-size: cover;
        z-index: -1; 
      }
    }

    .image{
      background: pink;
      height: 470px;
    }
  }

  .bottom{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    .partners{
      display: grid;
      align-items: center;
      align-content: center;
      justify-content: center;
      height: 180px;
      background: var(--color-white);
      box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
    }
  }
}