.wrapper{
  display: grid;
  grid-auto-flow: row;
  row-gap: 50px;
  margin-bottom: var(--margin-section-xl);

  @media (max-width: 992px) {
    margin-bottom: var(--margin-section-lg);
    row-gap: 0;
  }

  @media (max-width: 768px) {
    margin-bottom: var(--margin-section-md);
  }

  @media (max-width: 375px) {
    margin-bottom: var(--margin-section-xs);
  }

 .title__wrapper{
  display: grid;
  justify-content: center;
  justify-items: center;

  .title{
    text-align: center;
    color: var(--color-yellow);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: var(--font-size-title-main-xl);
    position: relative;

    @media (max-width: 992px) {
      font-size: var(--font-size-title-main-lg);
    }

    @media (max-width: 768px) {
      font-size: var(--font-size-title-main-md);
    }

    @media (max-width: 375px) {
      font-size: var(--font-size-title-main-xs);
    }

    &::before{
      content: "";
      position: absolute;
      top: -80px;
      right: 105%;
      width: 450px;
      height: 250px;
      background: url('./../../../public/spline-2.svg');
      background-size: cover;
  
      @media (max-width: 768px) {
        content: none;
      }
    }
  }

 }

  .content{
    position: relative;

    .image__wrapper{
      position: absolute;
      top: -30px;

      @media (max-width: 992px) {
        display: none;
      }
    }

    .carousel{
      padding: 50px 0 50px 40%;

      @media (max-width: 992px) {
        padding: 50px 0;
      }

      @media (max-width: 992px) {
        padding: 25px 0 50px 0;
      }
    }


    .card{
      width: 80%;
      height: 320px;  
      border-radius: 50px;   
      box-shadow: 0px 4px 6px rgba(56, 175, 241, 0.41);
      padding: 25px 100px 25px 30px;
      display: grid;
      align-items: start;
      justify-items: flex-start;
      position: relative;
      overflow: hidden;

      @media (max-width: 768px) {
        width: 85%;
        padding: 15px 12px;
        height: 350px;
        border-radius: 25px; 
      }
  
      &.card_1{
        background: #3289C7;
        .texts{
          p{
            background: #FFCEB3;
            color: rgba(0, 0, 0, 0.65);
          }
          span{
            color: var(--color-white);
          }
        }
      }
  
      &.card_2{
        background: #D7F3FF;
        .texts{
          p{
            background: #FF7A88;
            color: var(--color-white);
          }
  
          span{
            color: rgba(0, 0, 0, 0.80);
          }
        }
      }
      &.card_3{
        background: #5EBBEE;
        .texts{
          p{
            background: #FFCD6C;
            color:  var(--color-white);
          }
          span{
            color: var(--color-white);
          }
        }
      }
      &.card_4{
        background: #9BE9FF;
        .texts{
          p{
            background:  var(--color-white);
            color: rgba(9, 14, 33, 0.65);
          }
          span{
            color: rgba(9, 14, 33, 0.65);
          }
        }
      }
      &.card_5{
        background: #D8FDFF;
        .texts{
          p{
            background: #2D92DC;
            color: var(--color-white);
          }
          span{
            color: rgba(0, 0, 0, 0.80);
          }
        }
      }
  
      .texts{
        display: grid;
        grid-auto-flow: row;
        row-gap: 20px;
        align-items: start;
        justify-items: flex-start;

        @media (max-width: 768px) {
          justify-items: center;
          row-gap: 25px;
        }
  
        p{
          padding: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          border-radius: 12px;
          font-size: var(--font-size-text-main-xl);

          @media (max-width: 992px) {
            font-size: var(--font-size-text-main-lg);
          }
      
          @media (max-width: 768px) {
            font-size: var(--font-size-text-main-md);
          }
      
          @media (max-width: 375px) {
            font-size: var(--font-size-text-main-xs);
          }
        }
  
        span{
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          font-size: var(--font-size-text-secondary-xl);
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 10;

          @media (max-width: 992px) {
            font-size: var(--font-size-text-secondary-lg);
          }
      
          @media (max-width: 768px) {
            font-size: var(--font-size-text-secondary-md);
          }
      
          @media (max-width: 375px) {
            font-size: var(--font-size-text-secondary-xs);
          }
        }
      }
    }
  }


    .button{
      display: grid;
      justify-content: center;
      align-items: center;

      @media (max-width: 768px) {
        display: none;
      }

      button{
        border-radius: 40px;
        background: var(--color-blue);
        padding: 18px 50px;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--color-white);
      }
    }
  }
